<!DOCTYPE html>
<html>
<head>
	<title>Blog Post</title>
</head>
<body>
	<h1>{{blogpost.title}}</h1>
	<h3>By {{blogpost.user}} at {{blogpost.timestamp}}</h3>
	<p>{{blogpost.body}}</p>

	<h2>Comments:</h2>
	<button onclick="location.href='{% url 'blog:add_comment' blogpost.pk %}'">Add Comment</button>
	{% if comments %}
		{% for comment in comments %}
			<li>
				{{comment}}
				By {{comment.user}} at {{comment.timestamp}}
			</li>
		{% endfor %}
	{% else %}
		<p>No comments</p>
	{% endif %}
</body>
</html>