{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Todos</title>
      
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'todosapp/css/todos.css' %}">
      
  </head>

  <body>
    <div id="app">
        <h1>Todos</h1>
      
        <div class="holder">
            <form action="{% url 'todosapp:add' %}" method="post">
                {% csrf_token %}                
                <input id="todo" name="todo" type="text" placeholder="Enter a task you have...">
                <input type="submit" value="add" style="display: none">
            </form>            
            <ul>
                {% for todo in todo_list %}
                    <li {% if todo.completed %} class="completed" {% endif %}>
                        {{ todo }}
                        <a href="{% url 'todosapp:delete' pk=todo.pk %}"><i class="fa fa-times"></i></a>
                        {% if not todo.completed %}
                            <a href="{% url 'todosapp:mark' pk=todo.pk %}"><i class="fa fa-check"></i></a>
                        {% else %}
                            <a href="{% url 'todosapp:mark' pk=todo.pk %}"> <i class="fa fa-undo"></i></a> 
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        
    </div>
      
  </body>

</html>
