<!DOCTYPE html>
<html>
    {# Make modifiable head elements #}
    <head>
    {% load staticfiles %}
        <title>Blog | {% block title %}{% endblock title %}</title>
        {% block head_favicon %}
            <link rel="icon" type="image/png"
                  href="{% static 'img/favicon.ico' }">
        {% endblock head_favicon %}
        {% block head_meta %}
            {% block head_meta_charset %}
                <meta http-equiv="Content-Type"
                      content="text/html; charset=utf-8" />
            {% endblock head_meta_charset %}
            {% block head_meta_contentlanguage %}
                <meta http-equiv="Content-Language" value="en-US" />
            {% endblock head_meta_contentlanguage %}
            {% block head_meta_viewport %}
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
            {% endblock head_meta_viewport %}
        {% endblock head_meta %}
        {% block head_css %}
            {% block head_css_site %}
                <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
            {% endblock head_css_site %}
            {% block head_css_section %}{% endblock head_css_section %}
            {% block head_css_page %}{% endblock head_css_page %}
        {% endblock head_css %}
    </head>

    <body>
        {# Navigation Menu #}
        <header>
            <nav class="topnav">
            {% if user.is_authenticated %}
                <a href="{% url 'blog:logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'blog:login' %}">Login</a>
                <a href="{% url 'blog:signup' %}" class="p-r-none">Sign Up</a>
            {% endif %}                
            </nav>          
        </header>
        {# The Document Body #}
        <div id="site-wrapper">
            {% block content %}
                if you see this, something is wrong!
            {% endblock content %}
        </div>
    </body>    
</html>